<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>htmlpage as a response</title>
</head>
<body>
    <center>
        <h1 style="color:blue">
            created generic url which is used to perfomr all process of project 
        </h1>
        <h1>
            rendering 
        </h1>
        <h1>used to interaction between templates folder and it will extract the specific htmlpage</h1>
        <h1> number one bullllllshit guys are ther with me</h1>
        <marquee><h1 style="color:blueviolet" >yeppudraaaaaa</h1></marquee>
    </center>
    
</body>
</html>